%h1 FontMash
%form{:action => "/", :method => "GET"}
  %p#fields
    %label{:for => "font1"} First Font:
    %input{:type => "text", :name => "font1", :id => "font1"}
    %label{:for => "font2"} Second Font:
    %input{:type => "text", :name => "font2", :id => "font2"}
  %p
    %input{:type => "button", 
           :name => "go", 
           :id => "go", 
           :value => "Mash!", 
           :onclick => "javascript:mashFonts();"}

- (1..2).each do |i|
  %table{:id => (i == 1) ? "first" : "second"}
    - [('A'..'Z'), ('a'..'z'), ('!'..'@').reject{|c|('0'..'9').count(c) > 0}, ('0'..'9')].each do |set|
      %tr
        - set.each do |character|
          %td>= character
