!!!
%html
  %head
    %meta{:charset => "utf-8"}

    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css"}

    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.1.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/fontmash.js"}

    %title FontMash!
  %body
    %h1 FontMash
    %form{:action => "/", :method => "get"}
      %p#fields
        %label{:for => "font1"} Red Font:
        %input{:type => "text", :name => "font1", :id => "font1", :value => "Helvetica"}
        %label{:for => "font2"} Blue Font:
        %input{:type => "text", :name => "font2", :id => "font2", :value => "Times"}
      %p
        %input{:type => "button", 
               :name => "go", 
               :id => "go", 
               :value => "Mash!"} 
        %input{:type => "button",
               :name => "swap",
               :id => "swap",
               :value => "Swap!"}
    = yield

    %form{:action => "/", :method => "post"}
      %p#text-input
        %label{:for => "text-field"} Enter Your Own Text:
        %input{:type => "text", :name => "text-field", :id => "text-field"}
        %input{:type => "submit", :name => "submit", :id => "submit", :value => "Submit"}
      
    :javascript
      $("body").ready(FontMash.alignTables);
      $(window).resize(FontMash.alignTables);
      $(window).scroll(FontMash.alignTables);

      $("input#go").click(FontMash.mashFonts);
      $("input#swap").click(function() {
        FontMash.swapFonts();
        FontMash.mashFonts()
      });

      if (navigator.platform.indexOf("Mac") == -1) {
        FontMash.compatibility();
        FontMash.mashFonts();
      }
