!!!
%html
  %head
    %meta{:charset => "utf-8"}

    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css"}

    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.1.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/fontmash.js"}

    %title FontMash!
  %body{:onload => "javascript:alignTables();"}
    = yield
