@import "reset";

body { font-family: Helvetica, Arial, sans-serif; text-align: center; }

h1 { font-size: 100px; margin-bottom: 30px; }
h1 a { color: black; text-decoration: none; }

p#fields { margin-bottom: 10px; }

table { margin: 0 auto; margin-top: 20px; font-size: 48px; }
table#first { color: rgba(255, 0, 0, 0.6); }
table#second { position: absolute; color: rgba(0, 0, 255, 0.6); font-family: Times, "Times New Roman", serif; }
table tr { height: 80px; }
table td { min-width: 50px; text-align: center; }

p#text-input input#text-field { width: 500px; }
